{% extends 'base.html.twig' %}

{% block title %}Simulateur{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-6 offset-3">
            <h1>{{ "simulateur.label.simple"|trans }}</h1>
        </div>
    </div>
{% endblock %}
